/* author Jacek Byzdra https://www.linkedin.com/in/jacek-byzdra/ */

.title {
  color: blue;
}
body {
  font-family: Arial, sans-serif;
}
#title {
  font-family: 'Tangerine', bold;
  color: blue;
}
#subtitle {
  font-family:
    Lucida Calligraphy,
    sans-serif;
}
#board {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  grid-template-rows: repeat(3, 70px);
  gap: 1px;
}

button.cell {
  width: 65px;
  height: 65px;

  border: 2px solid #ccc;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: black;
  font-family:
    Lucida Calligraphy,
    sans-serif;
  cursor: pointer;
  background: linear-gradient(#f2f2f2, #ffffff);
  box-shadow: 0px px 2px grey;
  transition: 150ms ease;
}
button.cell:hover {
  background-color: #f0f0f0;
}
button.cell:disabled {
  background: #f0f0f0;
}
#status {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-family:
    Lucida Calligraphy,
    sans-serif;
  color: #0080ff;
}
#moveNumber {
  font-size: 1rem;
  font-family:
    Lucida Calligraphy,
    sans-serif;
  color: darkcyan;
}
#modes {
  background-color: #ffffff;
}
#modes button {
  border-radius: 25px;
  font-family: Helvetica;
  color: #ffffff;
  font-size: 1rem;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border-bottom: 5px solid #1e7b5c;
  border-top: none;
  border-left: none;
  border-right: none;
  background: linear-gradient(#32cd99, #28a47b);
  box-shadow: 0px 2px 10px grey;
  transition: 150ms ease;
  margin-bottom: 20px;
}
#modes button:active {
  border: none;
  border-bottom: 2px solid #1e7b5c;
  box-shadow: 0px 1px 5px grey;
  background: linear-gradient(#2db98a, #2fc190);
  color: #fff;
}
#btnreset {
  background-color: #ffffff;
}
#btn-reset {
  border-radius: 25px;
  font-family: Helvetica;
  color: #ffffff;
  font-size: 1rem;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border-bottom: 5px solid #19608f;
  border-top: none;
  border-left: none;
  border-right: none;
  background: linear-gradient(#3498db, #217dba);
  box-shadow: 0px 2px 10px grey;
  transition: 150ms ease;
  margin-top: 20px;
}

#btn-reset:active {
  border: none;
  border-bottom: 2px solid #19608f;
  box-shadow: 0px 1px 5px grey;
  background: linear-gradient(#2489cc, #2283c3);
  color: #fff;
}

.top{
    margin-bottom: 10px;
}
