* {
	box-sizing: border-box;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #333333;
}
body {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	height: 100%;
	background-image: url(../images/backgr4.png);
	background-repeat: no-repeat;
	/*background image is not repeated*/
	background-attachment: fixed;
	/*background image is fixed. It is not scrolled along with the page*/
	background-position: top left;
	background-size: cover;
	/*Scale the background image to be as large as possible*/
	/* For compatibility in all supporting browsers, Support for CSS transitions for browser vendors*/
	-webkit-transition: background-color all 1s ease-in-out;
	/*Transition-timing-function: starts slowly, gets fastest in the middle of the transition, and finishes slowly*/
	-moz-transition: background-color all 1s ease-in-out;
	-o-transition: background-color all 1s ease-in-out;
	-ms-transition: background-color all 1s ease-in-out;
	transition: background-color all 1s ease-in-out;
	background-color: #fff;
	/* initial color */
}
footer,
main,
header {
	max-width: 1024px;
	margin: 0 auto;
}
header {
	display: grid;
	grid-template-columns: 1fr;
	background-color: transparent;
}
.Panel_Row1HeaderBtns {
	grid-column: 1 / span 5;
	grid-row: 1;
	text-align: center;
	margin: 0.5rem auto;
}
main {
	display: grid;
	grid-template-columns: 0.5rem, repeat(1, 1fr), 0.5rem;
	background-color: #f0ffff;
	grid-gap: 0.5rem;
	padding: 1rem 2rem 1rem 1rem;
	border: 1px solid yellow;
}
#inside {
	grid-column: 1 / span 1;
	grid-row: 1;
	text-align: left;
	margin: 0 auto;
}
img {
	border-radius: 8px;
}
#imgTatraTravel4 {
	border-radius: 50%;
}
footer {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	background-color: transparent;
	border: 2px solid white;
}
#foot_left {
	grid-column: 1 / span 3;
	grid-row: 1 / span 2;
	text-align: left;
	margin: 0 auto;
	padding: 1rem 0 0 2rem;
}
#foot_right {
	grid-column: 1 / span 3;
	grid-row: 3;
	text-align: left;
	margin: 0 auto;
	padding: 1rem 0 0 2rem;
}
.Panel_A9Text {
	grid-column: 1 / span 4;
	grid-row: 4 / 5;
	text-align: center;
	padding: 0 0 2rem 0;
}
footer2 {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	background-color: transparent;
	padding: 2rem 2rem 2rem 2rem;
	color: white;
	margin: 0 auto;
}
.btn2 {
	border-radius: 25px;
	font-family: Helvetica;
	color: #ffffff;
	font-size: 1rem;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	border-bottom: 5px solid #009900;
	border-top: none;
	border-left: none;
	border-right: none;
	background: linear-gradient(#00ff00, #00cc00);
	box-shadow: 0px 2px 10px grey;
	transition: 150ms ease;
}
.btn2:active {
	border: none;
	border-bottom: 2px solid #009900;
	box-shadow: 0px 1px 5px grey;
	background: linear-gradient(#00e600, #00ef00);
	color: #FFF;
}
.btn4 {
	border-radius: 25px;
	font-family: Helvetica;
	color: #ffffff;
	font-size: 1rem;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	border-bottom: 5px solid #1e7b5c;
	border-top: none;
	border-left: none;
	border-right: none;
	background: linear-gradient(#32cd99, #28a47b);
	box-shadow: 0px 2px 10px grey;
	transition: 150ms ease;
}
.btn4:active {
	border: none;
	border-bottom: 2px solid #1e7b5c;
	box-shadow: 0px 1px 5px grey;
	background: linear-gradient(#2db98a, #2fc190);
	color: #FFF;
}
input,
textarea,
select {
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #A5ACB2;
	padding: 1px;
}
#inside {
	min-height: 260px;
	height: auto;
	max-width: 629px;
	background-color: #66ff66;
	padding: 20px 20px 20px 20px;
}
main,
footer {
	background-color: #66ff66;
}
footer {
	font-size: 0.75rem;
}
#styleContact {
	font-family: Helvetica, Verdana, Arial;
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
	color: #474747;
	padding-top: 2px;
	padding-bottom: 0px;
	min-height: 28px;
	height: auto;
}
h1 {
	font-weight: bold;
	font-size: 14px;
	color: #333333;
	margin-top: 0px;
	margin-bottom: 0px;
	text-decoration: none;
}
h2 {
	background-color: aqua;
	height: auto;
	padding: 0.25rem 0 0.25rem 1rem;
	font-size: 0.75rem;
	font-weight: bold;
}

/*links */

a.linkDisplay:link,
a.linkDisplay:visited,
a.linkDisplay:active {
	text-decoration: underline;
	color: blue;
	font-weight: normal;
}
a.linkDisplay:hover {
	text-decoration: none;
	color: red;
	font-weight: normal;
}
.form-group {
	font-family: Arial, Helvetica, sans-serif;
	font-family: 'Georgia', serif;
	font-size: 0.8rem;
}
@media (max-width: 1920px) {
	body {
		max-width: 1920px;
		font-size: 21px;
		margin: 0 auto;
	}
}
@media (max-width: 1440px) {
	body {
		max-width: 1440px;
		font-size: 21px;
		margin: 0 auto;
	}
}
@media (max-width: 1333px) {
	body {
		max-width: 1333px;
		font-size: 21px;
		margin: 0 auto;
	}
}
@media (max-width: 1280px) {
	body {
		max-width: 1280px;
		font-size: 21px;
		margin: 0 auto;
	}
}
@media (max-width: 1230px) {
	body {
		max-width: 1230px;
		font-size: 21px;
		margin: 0 auto;
	}
}
@media (max-width: 1198px) {
	body {
		max-width: 1198px;
		font-size: 21px;
		margin: 0 auto;
	}
}
@media (max-width: 1192px) {
	body {
		max-width: 1192px;
		font-size: 21px;
		margin: 0 auto;
	}
}
@media (max-width: 1079.98px) {
	body {
		max-width: 1079px;
		font-size: 21px;
		margin: 0 auto;
	}
}
@media (max-width: 1073px) {
	body {
		max-width: 1073px;
		font-size: 21px;
		margin: 0 auto;
	}
}
@media (max-width: 1024px) {
	body {
		max-width: 1024px;
		font-size: 21px;
		margin: 0 auto;
	}
	main,
	header,
	footer {
		max-width: 790px;
	}
	main {
		padding: 1rem 2rem 1rem 1rem;
	}
}
@media (max-width: 903.98px) {
	body {
		max-width: 903px;
		font-size: 21px;
		margin: 0 auto;
	}
}
@media (max-width: 834px) {
	body {
		max-width: 834px;
		font-size: 21px;
		margin: 0 auto;
	}
	main,
	header,
	footer {
		max-width: 592px;
		margin: 0 auto;
	}
	main {
		padding: 1rem 2rem 1rem 1rem;
	}
}
@media (max-width: 815px) {
	body {
		max-width: 815px;
		font-size: 21px;
	}
	main,
	header,
	footer {
		max-width: 560px;
		margin: 0 auto;
	}
	main {
		padding: 1rem 2rem 1rem 1rem;
	}
}
@media (max-width: 800px) {
	body {
		max-width: 800px;
		font-size: 21px;
		margin: 0 auto;
	}
	main,
	header,
	footer {
		max-width: 592px;
		margin: 0 auto;
	}
	main {
		padding: 1rem 2rem 1rem 1rem;
	}
}
@media (max-width: 768px) {
	body {
		max-width: 768px;
		font-size: 21px;
		margin: 0 auto;
	}
	main,
	header,
	footer {
		max-width: 537px;
		margin: 0 auto;
	}
	main {
		padding: 1rem 2rem 1rem 1rem;
	}
}
@media (max-width: 727.98px) {
	body {
		max-width: 727px;
		font-size: 21px;
		margin: 0 auto;
	}
	main,
	header,
	footer {
		max-width: 509px;
		margin: 0 auto;
	}
	main {
		padding: 1rem 2rem 1rem 1rem;
	}
}
@media (max-width: 600px) {
	body {
		max-width: 600px;
		font-size: 18px;
		margin: 0 auto;
	}
	main,
	header,
	footer {
		max-width: 416px;
		margin: 0 auto;
	}
	main {
		padding: 1rem 2rem 1rem 1rem;
	}
}
@media (max-width: 555px) {
	body {
		max-width: 555px;
		font-size: 18px;
		margin: 0 auto;
	}
	main,
	header,
	footer {
		max-width: 480px;
		margin: 0 auto;
	}
	main {
		padding: 1rem 2rem 1rem 1rem;
	}
}
@media (max-width: 551.98px) {
	body {
		max-width: 551px;
		font-size: 18px;
		margin: 0 auto;
	}
	main,
	header,
	footer {
		max-width: 464px;
		margin: 0 auto;
	}
	main {
		padding: 1rem 2rem 1rem 1rem;
	}
}
@media (max-width: 481px) {
	body {
		max-width: 481px;
		font-size: 18px;
		margin: 0 auto;
	}
	main,
	header,
	footer {
		max-width: 416px;
		margin: 0 auto;
	}
	main {
		padding: 1rem 2rem 1rem 1rem;
	}
}
@media (max-width: 414px) {
	body {
		max-width: 414px;
		font-size: 18px;
		margin: 0 auto;
	}
	main,
	header,
	footer {
		max-width: 368px;
		margin: 0 auto;
	}
	main {
		padding: 1rem 2rem 1rem 1rem;
	}
}
@media (max-width: 384px) {
	body {
		max-width: 384px;
		font-size: 18px;
		margin: 0 auto;
	}
	main,
	header,
	footer {
		max-width: 336px;
		margin: 0 auto;
	}
	main {
		padding: 1rem 2rem 1rem 1rem;
	}
}
@media (max-width: 375px) {
	body {
		max-width: 375px;
		font-size: 18px;
		margin: 0 auto;
	}
	main,
	header,
	footer {
		max-width: 320px;
		margin: 0 auto;
	}
	main {
		padding: 1rem 2rem 1rem 1rem;
	}
}
@media (max-width: 360px) {
	body {
		max-width: 360px;
		font-size: 18px;
		margin: 0 auto;
	}
	main,
	header,
	footer {
		max-width: 312px;
		margin: 0 auto;
	}
	main {
		padding: 1rem 2rem 1rem 1rem;
	}
	main {
		padding: 1rem 2rem 1rem 1rem;
	}
	#myVideo {
		max-width: 264px;
		max-height: 135px;
	}
	#loadBar {
		max-width: 240px;
	}
}
@media (max-width: 320px) {
	body {
		max-width: 320px;
		font-size: 1rem;
		margin: 0 auto;
	}
	main,
	header,
	footer {
		max-width: 272px;
	}
	main {
		padding: 1rem 2rem 1rem 1rem;
	}
}
@media (min-width: 1921px) and (max-width: 3840px) {}
@media (min-width: 1441px) and (max-width: 1920px) {}
@media (min-width: 1281px) and (max-width: 1440px) {}

/*SETTINGS for Laptops & Small Desktops */

@media (min-width: 1025px) and (max-width: 1280px) {
	figure img {
		max-width: 60%;
		max-height: auto;
	}
	main {
		grid-template-columns: 1rem, repeat(10, 1fr), 1rem;
		grid-gap: 1rem;
	}
}

/* SETTINGS for Tablets & Ipads, Portrait Orientation */

@media (min-width: 768px) and (max-width: 1024px) {
	figure img {
		max-width: 60%;
		max-height: auto;
	}
	main {
		grid-template-columns: 1rem, repeat(10, 1fr), 1rem;
		grid-gap: 1rem;
	}
}
@media (max-width: 1024px) {
	figure img {
		max-width: 100%;
		max-height: auto;
	}
	main {
		grid-template-columns: 1rem, repeat(10, 1fr), 1rem;
		grid-gap: 1rem;
	}
}

/* SETTINGS for Tablets & Ipads, Landscape Orientation */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	figure img {
		max-width: 100%;
		max-height: auto;
	}
	main {
		grid-template-columns: 1rem, repeat(10, 1fr), 1rem;
		grid-gap: 1rem;
	}
}

/* SETTINGS for Small tablets (Portrait) & Phones (Landscape) */

@media (min-width: 481px) and (max-width: 767px) {
	figure img {
		max-width: 100%;
		max-height: auto;
	}
	main {
		grid-template-columns: 0.5rem, repeat(10, 1fr), 0.5rem;
		grid-gap: 0.5rem;
	}
}

/* SETTINGS for typical smart phones (Portrait) */

@media (min-width: 320px) and (max-width: 480px) {
	figure img {
		max-width: 100%;
		max-height: auto;
	}
	main {
		grid-template-columns: 0.5rem, repeat(10, 1fr), 0.5rem;
		grid-gap: 0.5rem;
	}
	h3 {
		font-size: 0.5rem;
		letter-spacing: 0px;
	}
	.h2PanelA2Text {
		font-size: 1rem;
	}
}
@supports (display: grid) {
	.warning {
		display: none;
	}
}
